.navbar {
    
    height: 80px;
    background: linear-gradient(90deg, #3298dc 30%,#124668 75%, #4595cb 100%);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar-item:hover {
    /* border-bottom: 4px solid rgb(205, 185, 185); */
    transition: all 0.2s ease-out;
 
  }
  a.navbar-item {
    color: rgb(12, 3, 3);
    font-weight: 700;
    
  
  }



  #navbarPosition{
    padding-left: 25%;
    padding-right: 5%;
  }

  .navbar-menu.is-active{
    padding:0;
    color: black;
  
  }

  .navbar-logo{
    color: white;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    padding-left: 25px;
  }


  .fas {
   
    color: #845ab7;
    background: -webkit-linear-gradient(#a288bf, #7731cd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar-burger{
    margin-left: 20px;
  }