.AboutUs{
    background: linear-gradient(
        to right, 
        #c6e0f0 0%, 
        #c6e0f0 50%, 
        #000000 50%, 
        #000000 100%
      );

}


.about-Body{
   padding-top: 20px;
      display: flex;

}

.ourLogo{
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-decoration: underline;
}

.OurTitle{
    font-size: 35px;
}


.ourStory{
  color:white;
    font-size: 20px;
   text-align: center;
   margin-top: 250px;
   max-width: 700px;
   margin-right: 25px;
   
}


/* .Nital{
    background: linear-gradient(
        to right, 
        #dc3232 0%, 
        #dc3232 50%, 
        #000000 50%, 
        #000000 100%
    );
}
.Mario{
    background: linear-gradient(
        to right, 
        #510808 0%, 
        #510808 50%, 
        gold 50%, 
        gold 100%
    );
    color: white;
    font-weight: 900;
}
.Nital{
    background: linear-gradient(
        to right, 
        #dc3232 0%, 
        #dc3232 50%, 
        #000000 50%, 
        #000000 100%
    );
    color: white;
}
.Ferd{
    background: linear-gradient(
        to right, 
        #1c8750 0%, 
        #1c8750 50%, 
        #000000 50%, 
        #000000 100%
    );
    color: black;
}
.Mig{
    background: linear-gradient(
        to right, 
        #325cdc 0%, 
        #325cdc 50%, 
        gold 50%, 
        gold 100%
    );
} */