/* body.{
    background: linear-gradient(
        to right, 
        #3298dc 0%, 
        #3298dc 50%, 
        #000000 50%, 
        #000000 100%
      );
} */


/* .Nital{
    background: linear-gradient(
        to right, 
        #dc3232 0%, 
        #dc3232 50%, 
        #000000 50%, 
        #000000 100%
    );
}
.Mario{
    background: linear-gradient(
        to right, 
        #510808 0%, 
        #510808 50%, 
        gold 50%, 
        gold 100%
    );
    color: white;
    font-weight: 900;
}
.Nital{
    background: linear-gradient(
        to right, 
        #dc3232 0%, 
        #dc3232 50%, 
        #000000 50%, 
        #000000 100%
    );
    color: white;
}
.Ferd{
    background: linear-gradient(
        to right, 
        #1c8750 0%, 
        #1c8750 50%, 
        #000000 50%, 
        #000000 100%
    );
    color: black;
}
.Mig{
    background: linear-gradient(
        to right, 
        #325cdc 0%, 
        #325cdc 50%, 
        gold 50%, 
        gold 100%
    );
} */